body{
    background-image: url(4a04093569f391a58b35ac21bab9984b.png);
    background-repeat: no-repeat;
    position: relative;
}
.box1{
width: 293px;
height: 513px;
background-color: rgba(219, 197, 0, 0.5);
opacity: 80%; 
display: inline-block;
margin-left: 14px;


}
.box2{
    width: 293px;
    height: 513px;
    background-color:rgba(219, 197, 0, 0.4);
    opacity: 80%; 
    display: inline-block;
    margin-left: 14px;
   
   
}
.box3{
    width: 293px;
    height: 513px;
    background-color:rgba(219, 197, 0, 0.7);
    opacity: 80%; 
    display: inline-block;
    margin-left: 14px;
    margin-top: 14px;
    
}
.box4{
    width: 293px;
    height: 513px;
    background-color: rgba(219, 197, 0, 0.35);
    opacity: 80%; 
    display: inline-block;
    margin-left: 14px;
    
}